.nav-item {
    background-color: aqua;
}

.card {
    margin-top: 70px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
